[Unit]
Description=linux-legion: Custom mode auto-apply, per-mode CPU limits (RAPL/EPP), fan curve
Documentation=https://github.com/VitaminDB/linux-legion
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/linux-legion --daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
